include articles/_articles
.articles#articles
    each article in articles
        article.card
            p
                time(datetime=article.hrfDate)= article.date
            h1= article.title
            .main-content
                p.description= article.content
            button.btn() Continue Reading
        article.card-article
            aside
                img.banner.img(src="https://cdn.magdeleine.co/wp-content/uploads/2019/09/a-cluster-of-bronzed-leaves-1400x933.jpg")
                p
                    time(datetime=article.hrfDate)= article.date
            aside
                h1= article.title
                .main-content
                    p.description= article.content
                button.btn Continue Reading
            button.btn(onclick="clicked(this)") Click to prove!
            script.
                function clicked(e){console.log(e)}
        

